<mat-drawer-container class="slide-nav" autosize>
  <mat-drawer opened #drawer class="slide-drawer" mode="side">
    <mat-nav-list class="slide-drawer__list">
      <a
        class="slide-drawer__list--link"
        mat-list-item
        routerLink="/directives"
        routerLinkActive="slide-drawer__list--link-active"
        >Directives</a
      >
      <a
        class="slide-drawer__list--link"
        mat-list-item
        routerLink="/dependency-injection"
        routerLinkActive="slide-drawer__list--link-active"
        >Dependency Injection</a
      >
    </mat-nav-list>
  </mat-drawer>

  <div class="slide-content">
    <div class="slide-content__header">
      <mat-icon
        class="slide-content__header--menu"
        (click)="drawer.toggle()"
        aria-hidden="false"
        >menu</mat-icon
      >
      <div class="slide-content__header--title">Seminar Angular</div>
    </div>
    <div
      class="slide-content__body"
      [@routeAnimation]="getRouteAnimationState(outlet)"
    >
      <router-outlet #outlet="outlet"></router-outlet>
    </div>
  </div>
</mat-drawer-container>
<!-- <app-hightlight-text></app-hightlight-text>
<app-read-time></app-read-time> -->
