<div class="directive">
  <div class="directive__left">
    <div class="directive__left--item">
      <app-highlight-text id="highlight-text"></app-highlight-text>
    </div>
    <div class="directive__left--item" id="calculate-read-time">
      <app-read-time></app-read-time>
    </div>
    <div class="directive__left--item" id="custom-directive">
      <app-custom-directive></app-custom-directive>
    </div>
  </div>
  <div class="directive__right">
    <div id="nav-sticky">
      <div appScrollTo target="#highlight-text">Highlight Text</div>
      <div appScrollTo target="#calculate-read-time">Calculate Time</div>
      <div appScrollTo target="#custom-directive">
        Custom structural directive
      </div>
    </div>
  </div>
</div>
